@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffef77;
}

div#area {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(226, 78, 78);
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    font-weight: 300; 
    padding: 15px 0px 20px 0px;
}

div {
    text-align: center;
    font: 30px 'Sofia Sans', sans-serif;
    padding: 30px;
}

input {
    text-align: center;
}

#bot {
    width: 100px;
    font: 20px 'Sofia Sans', sans-serif;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #fff;
    box-shadow: 2px 4px 3px rgba(100, 97, 97, 0.815);
}

section {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

button {
    width: 200px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 2px 4px 3px rgba(100, 97, 97, 0.815);
    margin: 10px;
}

button:hover {
    background-color: #e5cb7b;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
