@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f7df1e;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    font-weight: 300; 
    padding: 15px 0px 20px 0px;
}

div {
    text-align: center;
}

button {
    width: 300px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 2px 4px 3px rgba(100, 97, 97, 0.815);
    margin: 10px;
}

button:hover {
    background-color: #e5cb7b;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font: 30px 'Sofia Sans', sans-serif;
    text-align: center;
}

@media screen and (max-width:790px) {

    button {
        width: 200px;
        font-size: 16px;
    }
}
